################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI_Projects/WinForms_UI/Images/BGLogoResized.png
