################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI_Projects/WinForms_UI/Images/BGLogoResized.png
UI_Projects/.vs/UI_Projects/v16/.suo
UI_Projects/WinForms_UI/.vs/ProjectSettings.json
